<div class="col-md-3 left_col">
<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"><i class="fa fa-gamepad"></i><span>FitQuest</span></a>
    </div>

    <div class="clearfix"></div>

    <div class="profile clearfix">
    <div class="profile_pic">
        <img src="http://placekitten.com/g/250/250" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Hey,</span>
        <h2><%=user.name %>!</h2>
    </div>
    <div class="project_detail">
    <ul>
        <li>Level: <b> <%=user.level %></b></li>
        <li>Energy: <%=user.kmp %> / <%=user.max_kmp %> kmp</li>
        <li>Guild: <span class="team-red"><%=user.guild %></span></li>
        <li>Power Source: <i class="fa fa-gamepad"> </i> <img src="https://www.wykop.pl/cdn/c3201142/comment_mzEIBHomzJdV4YUh2MWedREdoEoqAE7P,w400.jpg" style="width:15px"/></li>
    </ul>
    </div>
    
    <br />
    <div class="clearfix"></div>
    </div>
    <br/>

    <% include ../parts/sidebar.ejs %>
    
    <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="fa fa-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="bugreport" href="login.html">
        <span class="fa fa-bug" aria-hidden="true"></span>
    </a>
    </div>
</div>
</div>