
<!DOCTYPE html>
<html>
<head>
<% include ../parts/head.ejs %>
<style>
    .team-red { color: red; }
</style>
    <script src="/gamejs/map.js"></script>
</head>
<body class="nav-md">
<div class="container body">

<div class="main_container">
<% include ../parts/header.ejs %>

<% include ../parts/topnav.ejs %>

<% if (content === 'area') { %>
    <%- include ../contents/areacontrol.ejs %>
<% } else if (content === 'guildchat') { %>
    <%- include ../contents/guildchat.ejs %>
<% } else if (content === 'bugreport') { %>
    <%- include ../contents/bugreport.ejs %>
<% } else if (content === 'wtf') { %>
    <%- include ../contents/wtf.ejs %>
<% } else { %>
    <%- include ../contents/mainbody.ejs %>
<% } %>

<% include ../parts/footer.ejs %>
</div>

</div>
</body>
</html>